.login {
  width: 90%;
  margin: 0 5%;
}
.login .button {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.login .input {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.login .input input {
  height: 40px;
}
.login .btn {
  margin: 10px;
}
.login .btn a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: red;
}
.login .link a {
  text-decoration: none;
  color: black;
}
.login .link a:hover {
  color: orangered;
}

@media (max-width: 714px) {
  .input input {
    width: 400px;
  }
}
@media (max-width: 1326px) {
  .input input {
    width: 400px;
  }
}
@media (max-width: 460px) {
  .input input {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .input input {
    width: 200px;
  }
  .button .btn a {
    width: 20px;
  }
}
@media (max-width: 646px) {
  .input input {
    width: 250px;
  }
}